.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  background: var(--beige);
  padding: 20px;
}
.book-item {
  padding: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  background: var(--blue);
  color: var(--dark-blue);
  position: relative;
}
.title {
  font-size: 1.35rem;
  font-weight: bold;
}
.year {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8rem;
  font-weight: lighter;
  color: var(--purple);
}
